.no__highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.fade_in_animation {
  z-index: 2;
  animation: introAni 3s linear;
}

@keyframes introAni {
  0% {
    opacity: 0; /* Start from completely transparent */
  }

  100% {
    opacity: 1; /* End at fully visible */
  }
}

.slow_fade_in_animation {
  z-index: 1;
  animation: introAni2 6s linear;
  opacity: 0.4;
}

@keyframes introAni2 {
  0% {
    opacity: 0; /* Start from completely transparent */
  }

  100% {
    opacity: 0.4; /* End at fully visible */
  }
}

.metal_btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  outline: none;
  border: 1px solid #ba6;
}
.metal_btn:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.metal_btn_style{
  border-color: #7c7c7c;
  background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25)  63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
}

.border_inset_style {
  border-style: inset;
}

.image_container {
  border: 4px solid transparent; /* Default border set to transparent */
  border-radius: 8px;
}

.image_container:hover {
  transform: scale(1.05);
}

.image_container:nth-child(1) { border-color: #ca8a04; } /* Yellow-600 */
.image_container:nth-child(2) { border-color: #ffffff; } /* white */
.image_container:nth-child(3) { border-color: #4C1D95; } /* Purple-900 */
.image_container:nth-child(4) { border-color: #4C1D95; } 
.image_container:nth-child(5) { border-color: #ca8a04; } 
.image_container:nth-child(6) { border-color: #ffffff; } 
.image_container:nth-child(7) { border-color: #ffffff; } 
.image_container:nth-child(8) { border-color: #4C1D95; } 
.image_container:nth-child(9) { border-color: #ca8a04; } 
.image_container:nth-child(10) { border-color: #ca8a04; } /* Yellow-600 */
.image_container:nth-child(11) { border-color: #ffffff; } /* white */
.image_container:nth-child(12) { border-color: #4C1D95; } /* Purple-900 */
.image_container:nth-child(13) { border-color: #4C1D95; } 
.image_container:nth-child(14) { border-color: #ca8a04; } 
.image_container:nth-child(15) { border-color: #ffffff; } 
.image_container:nth-child(16) { border-color: #ffffff; } 
.image_container:nth-child(17) { border-color: #4C1D95; } 
.image_container:nth-child(18) { border-color: #ca8a04; } 

.amazon_button {
  background-image: linear-gradient(to right, #FF9900, #FFD700);
}

.paypal_button {
  background-image: linear-gradient(to right, #003087, #009CDE);
}

.coinbase_button {
  background-image: linear-gradient(to right, #1652F0, #1F77F4);
}

.blur-miss {
  --tw-blur: blur(2px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.text__stroke {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.text__stroke__sm {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
}